<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuizhipu.shop.mapper.FavoriteMapper">

    <select id="selectProductIdsByUserId" resultType="long">
        SELECT product_id FROM t_favorite
        WHERE user_id = #{userId}
        <if test="productIds != null and productIds.size() > 0">
            AND product_id IN
            <foreach collection="productIds" item="pid" open="(" separator="," close=")">
                #{pid}
            </foreach>
        </if>
    </select>

    <insert id="insert">
        INSERT INTO t_favorite (user_id, product_id) VALUES (#{userId}, #{productId})
    </insert>

    <delete id="delete">
        DELETE FROM t_favorite WHERE user_id = #{userId} AND product_id = #{productId}
    </delete>

    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM t_favorite WHERE user_id = #{userId} AND product_id = #{productId}
    </select>

</mapper>
